.mapboxgl-popup-content{
    padding: 0 0 0 0 !important;
    border-radius: 1rem !important;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: transparent !important;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: transparent !important;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: transparent !important;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: transparent !important;
    }