.ant-modal-content{
    border-radius: 0.75rem !important;
    min-width: 720px;
}

.ant-modal-header{
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

.ant-modal-body{
    max-height: 720px;
}

.ant-modal-title{
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600 !important;
}

.ant-switch-checked{
    background-color: rgb(34, 34, 34) !important;
}

.ant-checkbox .ant-checkbox-inner {
    width: 25px !important;
    height: 25px !important;
    background-color: transparent;
}
  
  .ant-checkbox-disabled .ant-checkbox-inner {
    width: 25px !important;
    height: 25px !important;
    background-color: rgb(34, 34, 34) !important;
    border-color: rgb(34, 34, 34) !important;
  }

.ant-checkbox-checked .ant-checkbox-inner {
    width: 25px !important;
    height: 25px !important;
    background-color: rgb(34, 34, 34) !important;
    border-color: rgb(34, 34, 34) !important;
}

.ant-checkbox-inner::after{
    left: 33.5% !important;
    width: 5.714px !important;
    height: 12.143px !important;
}

.ant-checkbox + span{
    padding-left: 15px !important;
}